/* Hansei Blue : #04447c */
*{ 
  margin: 0;
  padding: 0;
	-ms-overflow-style:none; /* IE and Edge */
    scrollbar-width:none; /* Firefox */
}
*::-webkit-scrollbar {
	display:none; /* Chrome , Safari , Opera */
}

/* ---------------------------------------- */
.App {
  text-align: center;
  margin: 0;
}

/* ---------------------------------------- */
.App-header {
  background-color: #FFFFFF;
  height: 50px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border: 0;
}

.HeaderSide-img {
  width: 50px;
  top: 0px;
  left: 0px;
  position: relative;
}
.HeaderSide-img-n {
  width: 50px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
}
.HeaderSide-img-h {
  width: 50px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}
.HeaderSide-img-c {
  width: 50px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}
.HeaderSide-img:hover .HeaderSide-img-h {
  display: block;
}
.HeaderSide-img:active .HeaderSide-img-c {
  display: block;
}

.Header-logo {
  font-size: calc(5vmin);
  height: 50px;
}

/* ---------------------------------------- */
.App-Menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  z-index: 1000;
  opacity: 0.3;
  /* display: none; */
}
